.btn {
  background-color: #222;
  color: #fff;
  height: 40px;
  padding: 0.6em 1em;
  text-decoration: none;
  font-size: 0.9em;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.5);
  
}
