.new_container {
  width: 700px;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.new_container h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.new_container p {
  color: #7b7b7b;
  text-align: center;
  font-size: 18px;
}

.new_container img {
  margin-left: 170px;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

