.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2em;
}

.text_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image_content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_content img {
  max-width: 100%;
  height: auto;
  width: 400px;
}
.home_container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: 800;
}

.home_container h1 span {
  color: #38b6ff;
}

.home_container p {
  margin-bottom: 2em;
  color: #7b7b7b;
  font-size: 1.1em;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.btn_container a {
  display: inline-block;
  padding: 1.2em 3.5em;
  font-size: 1.1em;
  font-weight: 600;
  transition: all 0.3s ease;
  min-width: 300px;
  min-height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container a:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(32, 32, 32, 0.6);
}
